body {
  background-image: url(../images/cover1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.header__container {
  padding: 0;

  display: flex;
  align-items: center;

  max-width: 520px;
}
.header__container--padding {
  position: relative;

  padding-top: 36px;
  padding-bottom: 36px;
}
.header {
}
.header__logo {
  @include fonts(700, 24px, 1.33, 0.1px);

  margin-right: auto;

  color: $primary-text-color;
}
.header__navigation {
  display: none;
  @media screen and (min-width: 480px) {
    display: flex;
  }
}
.header__link {
  & a {
    @include fonts(600, 14px, 1.71, 0.2px);

    color: $secondary-text-color;
  }
  &:not(:last-child) {
    margin-right: 21px;
  }
}
