$primary-text-color: #252b42;
$secondary-text-color: #737373;
$white-text-color: #fff;
$primary-accent-color: #0d5c63;
$secondary-accent-color: #ff7b47;
$section-background-color: #fafafa;
$footer-icon-color: #8ec2f2;
$dark-background-color: #252b42;
$light-background-color: #fafafa;
